management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
    healthcheck:
      enabled: 'true'
    lease:
      duration: '5'
  instance:
    prefer-ip-address: 'true'
    lease-renewal-interval-in-seconds: '1'
    lease-expiration-duration-in-seconds: '2'

info:
  app:
    name: User-service
    version: '1.0'
    description: API for user-service on the Cloud-ID platform.
spring:
  main:
    allow-bean-definition-overriding: 'true'
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
      max_allowed_packet: '2000'
    show-sql: 'true'
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    password: ch@ng3itDev
    username: developer
    url: jdbc:mysql://localhost:3306/fudzo_users?createDatabaseIfNotExist=true&useSSL=false&autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&failOverReadOnly=false&allowMultiQueries=true&serverTimezone=Africa/Harare
    driver-class-name: org.mariadb.jdbc.Driver
  zipkin:
    base-url: http://localhost:9411/
    sleuth:
      sampler:
        probability: 1
  application:
    name: User-service
  sleuth:
    sampler:
      probability: '1'
  servlet:
    multipart:
      max-file-size: 100MB
springdoc:
  swagger-ui:
    path: /swagger-ui.html
logging:
  level:
    org:
      hibernate: ERROR
      springframework:
        web: INFO
    guru:
      springframework:
        controllers: DEBUG
  file:
    name: logs/user-service.log
security:
  oauth2:
    client:
      client-secret: RobTheRich
      client-id: User-service
server:
  port: '8091'
  ssl:
    enabled: 'false'
